<html ng-app="" class="ng-scope">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="backstretch.js"></script>
    <script src="script.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style><style type="text/css"></style></head>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<body style="margin:0">
    <div class="vegas-overlay" style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.7;background-image: url(grey.png);"></div>
    <div class="soon">
        <div class="mainPage">
            <h1 class="mainTitle"> SOON </h1>
            <div class="clock">
	            <div class="timerContainer ng-scope" ng-controller="timeOutCtrl">
	                {{hours}}<div class="clockneedle">hours</div>
	            </div>
	            <div class="timerContainer ng-scope" ng-controller="timeOutCtrl">
	                {{minutes}}<div class="clockneedle">minutes</div>
	            </div>
	            <div class="timerContainer ng-scope" ng-controller="timeOutCtrl">
	                {{seconds}}<div class="clockneedle">seconds</div>
	            </div>
	    </div>
        </div>
    </div>


<script>
$.backstretch("bg.jpg");
</script>
</body>
</html>