
.mainTitle {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #fff;
	font-size: 210px;
	line-height: 1em;
	padding: 0;
	letter-spacing: -.04em;
	overflow: hidden;
	font-weight: 400;
	text-shadow: 0 0 30px rgba(0,0,0,.3);
	margin: 0;
}

.mainPage {
	margin-top:100px;
}

.soon {
	clip: auto;
	position: fixed;
	background: none transparent;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 5;
}

.timerContainer {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #fff;
	font-size: 47px;
	text-shadow: 0 0 30px rgba(0,0,0,.3);
	width: 70px;
	padding: 5px;
	border: 2px white solid;
	border-radius: 47px;
	display: inline-block;
	margin: 0 10px;
}

.clockneedle {
	font-size: 17px;
}